/* PAGE STYLES */
:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.cookie-pin-title {
    position: fixed;
    top: 1.875rem;
    bottom: 1.875rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    font-size: 800%;
    letter-spacing: 0.0625rem;
    color: #f3f3f3;
    user-select: none;
    z-index: -1;
    text-align: center;
}


/* COOKIE POPUP STYLES */

.cookie-popup {
    position: static;
    z-index: 20000;
    font-size: 0.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    bottom: -6.25rem;
    left: 1.25rem;
    right: 1.25rem;
    padding: 0.625rem 0.9375rem;
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, .15);
    line-height: 150%;
    transition: opacity .5s;
    opacity: 0;
}

.cookie-popup--short {
    right: none;
    width: 21.875rem;
}

.cookie-popup--dark {
    background: #000;
    color: #fff;
}

.cookie-popup--not-accepted {
    opacity: 1;
    animation: cookie-popup-in .5s ease forwards;
}

.cookie-popup--accepted {
    opacity: 0;
}

.cookie-popup a {
    color: skyblue;
}

.cookie-popup a:visited {
    color: skyblue;
    text-decoration: none;
}

.cookie-popup-actions {
    flex: 1;
    text-align: right;
}

.cookie-popup-actions button {
    color: orange;
    border: none;
    background: none;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 0;
    cursor: pointer;
}

.cookie-popup-actions button:hover {
    text-decoration: underline;
}

@keyframes cookie-popup-in {
    from {
        bottom: -6.25rem;
    }

    to {
        bottom: 1.25rem;
    }
}