@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


:root {
  --main-bg-color: #000;
  --main-bg-color-inverted: #fff;
  --main-bg-color-alt: rgb(58, 58, 58);

  --main-text-color-alt: rgb(199, 199, 199);
  --main-text-color: #fff;
  --main-text-color-inverted: #000;
  
  --main-font: 'Montserrat';
  --code-font: 'Source Code Pro', monospace;
}

html,
body {
  /* div#main_MF */

  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  height: 5890px;
  background-color: var(--main-bg-color);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;
}
.blur{
  backdrop-filter: blur(3px);
}
.page {
  /* div#masterPage */


  position: absolute;
  height: 4685px;
  width: 100%;
  left: 0px;
  right: 0px;
}

.button {
  text-anchor: middle;
  padding: 10px;
  border: solid black 1px;
  transition: all 0.2s ease, visibility 0s;
  background-color: rgba(0, 0, 0, 0.6);
  
  color: #FFFFFF;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none !important;
}

.bOne {
  right: 25% !important;
}

.bTwo {
  right: 20% !important;
}

.bThree {
  right: 13% !important;
}

.bFour {
  right: 5% !important;
  background-color: #000;

}

.button:hover {
  background-color: white;
  color: black;
}

.nav {
  max-width: 100vw;
  width: 100vw;
  height: 9%;
  transform: translateY("-100%");
  position: fixed;
  background: transparent;
  z-index: 300;
  transition: all 0.5s ease, visibility 0.5s;
}

.nav .inner {
  padding-left: 10px;
  padding-right: 10px;
  
}
.nav .inner .buttons{
  display: inline-flex;
  height: 60%;
  width: 29%;
  position: absolute;
  transform: translateX(-112%);
  right: 0%;
  top: 30%;
}
.nav.scrolled {
 
  
  color: #fff;
}
.nav .inner .buttons .btn-wrap{
  padding-inline: 4px;
}
.nav .logo {
  left: 7%;
  font-family: var(--main-font);
  letter-spacing: .2rem;
  font-size: 20px;
  font-weight: 800;
  padding-top: 6px;
  transform: translateY(50%);
  cursor: pointer;
  position: absolute;
}

.header-wrapper {
  position: absolute;
  height: 1292px;
  left: 0px;
  right: 0px;
  top: 0px;
  overflow: hidden;
}

.cutoff-wrapper {
  /* div */


  position: absolute;
  height: 349px;
  width: 100%;
  bottom: 0%;
  left: 0px;
  right: 0px;


}

.cutoff-wrapper .cutoff {
  display: flex;
  width: 100%;
  border: solid 2px #000;
  background: var(--main-bg-color);;
  height: 349px;
  gap: 3%;
  justify-content: center;
}

.gradient {
  /* section#comp-kn4o4tjg */

  position: absolute;
  height: 634px;
  left: 0px;
  right: 0px;
  top: 24%;
  background: linear-gradient(0deg, #000000 0%, rgba(180, 195, 234, 0) 100%);
  z-index: 200;
}

.header-wrapper .bg {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  background: url("/assets/Screenshot 2022-12-09 194049.png"), #000000;
}

.bg .video {
  width: 100%;
}

.header-wrapper .text-wrapper {
  position: absolute;
  height: 877px;
  left: 0px;
  right: 0px;
  top: 0px;

}

.header-wrapper .text-wrapper .title {
  position: absolute;

  height: 10%;
  left: calc(50% - 337.11px/2 + 0.1px);
  top: 8%;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 96px;
  /* or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 5.12px;

  color: #000000;
  z-index: 199;
}

.header-wrapper .text-wrapper .subtitle {
  /* Our robot is designed to win */


  position: absolute;
  width: 375.4px;
  height: 4%;
  left: calc(50% - 375.4px/2 - 0.91px);
  top: 22%;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 43px;
  /* or 180% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.2px;
  z-index: 199;
  color: #000000;

}

.cutoff .card {
  align-self: center;

  height: 57.345678787774564756457%;
  background: #252525;
  transition: all 0.5s ease;
  top: 31%;
}
.cutoff .card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;

}




/* section two */
.section-two {
  /* section#comp-l9davx13 */
  position: absolute;
  height: 710px;
  left: 0px;
  right: 0px;
  top: 27.5%;

}

.section-two .wrapper {
  /* div */
  position: absolute;

  height: 710px;
  width: 100%;
  top: 0px;

}

.hidden {
  visibility: hidden;

}

.section-two .left {

  position: absolute;
  height: 708px;
  left: 0px;
  top: 1px;
  border: solid #000;
  width: 50%;
}

.section-two .left .bg {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;

  background-attachment: fixed;

  background-repeat: no-repeat;
  background-size: 41%;
  background-position: 1% 1%;
}

.section-two .left .bg .image {
  width: 113% !important;
  height: auto;
  z-index: 150;
  left: -70px;
  top: -518px;
  position: absolute;

}

img {
  max-width: 200% !important;
}

.microsoft {
  width: 80%;
}



.section-two .right {
  font-family: var(--main-font);
  height: 708px;
  right: 0px;
  top: 1px;
  border: solid #000;
  width: 50%;
  position: absolute;
}

.section-two .wrapper .right .header {
  /* What is the FIRST Competition? */
  position: absolute;
  left: 15%;
  top: 20%;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: var(--main-text-color);


}

.section-two .wrapper .right .text {
  font-family: var(--main-font);
  position: absolute;
  top: 26%;
  right: 18%;
  left: 15%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 140% */

  display: flex;
  align-items: center;

  color: var(--main-text-color);
}

.section-two .wrapper .right .text .cite{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  position: absolute;
  top: 239px;
  left: 5px;
  color: var(--main-text-color-alt);
}

.section-two .wrapper .left .content {
  z-index: 198;
  position: absolute;
}

.section-two .wrapper .left .content .title {
  /* What are we competing in? */
  position: absolute;
  width: 408.5px;
  height: 136px;
  left: 207.86px;
  top: 89px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 68px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.section-two .wrapper .left .content .line {
  /* div#comp-l9davx2r */

  box-sizing: border-box;

  position: absolute;
  width: 30px;
  height: 5px;
  left: 217.9px;
  top: 294px;

  border-top: 1px solid #FFFFFF;
}

.left--state-in {
  animation: wipe-in-right;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.section-two .wrapper .left .content .button {
  /* FIRST Website */

  box-sizing: border-box;

  position: absolute;
  left: 213.9px;
  right: 351.88px;
  top: 322px;
  bottom: 365px;

  background: linear-gradient(to left, #fff 50%, #000 50%) right;
  background-size: 200%;
  transition: .2s ease-out;
  color: #000;
  border: 1px solid #000000;
  width: 192px;
  height: 42px;
}

.section-two .wrapper .left .content .button .inner {

  top: calc(50% - 18px/2);
  position: absolute;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.4px;

  color: #000000;
}

.section-two .wrapper .left .content .button:hover .inner {
  color: #fff;

}

.section-two .wrapper .left .content .button:hover {
  color: #fff;
  background-position: left;
  border-radius: 0px;
}
.cntc{
  border-radius: 50px;
}
.cntc:hover{
  border-radius: 10px;
}
.robot{
  width: 100%;
  position: absolute;
  top: 1997px;
}

.team{
  width: 100%;
  position: absolute;
  top: 3079px;
  height: 1842px;
  background-color: #fff;
}
.team .top-hero .text{
  position: absolute;
  z-index: 200;
  height: 609px;
  width: 100%;
}
.team .top-hero .text .title{
  position: absolute;
  top: 48%;
  left: 8%;
  font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 68px;
    display: flex;
    align-items: center;
  
    color: #FFFFFF;
}
.team .top-hero .text .description{
  position: absolute;
    width: 516px;
    height: 96.56px;
    left: 8%;
    background: #FFFFFF;
    top: 371.5px;
    border-radius: 3px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
      
}
.team .top-hero .text .description p{
  position: absolute;
    width: 497px;
    height: 90px;
    left: 11px;
    top: 2px;
  padding: 3px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  
    /* or 140% */
  
    color: #000000;
}
.team .top-hero .bg{
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: 100;
  height: 609px;
}
.team .top-hero .bg .image {
  position: absolute;
  width: 113% !important;
  height: auto;
  z-index: 100;
  top: -988px;
  left: -70px;
}

.team .main-section .bg{
  position: absolute;
  width: 100%;
  height: 1842px;
  z-index: 5;
    background: var(--main-bg-color);
}

.team .main-section .teamlist{
  position: absolute;
    width: 1432px;
    height: 1167px;
    left: calc(50% - 1432px/2);
    top: 675px;
    z-index: 6;
    background: var(--main-bg-color-alt);
    
}
.team .main-section .teamlist-wrapper{
  display: flex;
    flex-flow: row wrap;
    gap: 4%;
    align-items: flex-start;
    padding: 30px 0px 70px;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}
.team .main-section .teamlist-wrapper .card{
  height: 336px;
  width: 231px;
  overflow: hidden;
}

.team .main-section .teamlist-wrapper .card .image img{
  position: relative;
  width: auto; /* used to be 214px */
  height: 244px;
  left: 0px;
  display: block;
  margin: 0 auto;
  top: 0px;
  background: url("/assets/team/default.png");
}
.team .main-section .teamlist-wrapper .card .namecard{
position: relative;
  width: 177px;
  height: 73px;
  left: 52px;
    top: -50px;
  background: var(--main-bg-color);
}
.team .main-section .teamlist-wrapper .card .namecard .name{
  position: relative;
  width: 109.43px;
  height: 19px;
  left: 8px;
  top: 14px;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: var(--main-text-color);
}
.team .main-section .teamlist-wrapper .card .namecard .position{
  position: relative;
    width: 149.23px;
    height: 30px;
    left: 16px;
    top: 18px;
  
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
  
    color: var(--main-text-color);
}
.footer{
  width: 100%;
    height: 19.7%;
    top: 4967px;
    position: absolute;
    background: var(--main-bg-color);
}
.footer .main-footer{
  position: absolute;
    width: 100%;
    height: 6%;
    bottom: 0px;
    color: var(--main-text-color-alt);
    background: var(--main-bg-color);
  font-family: var(--code-font);
  font-weight: 600;
}

.hidden-link{
  color: inherit;
  text-decoration: underline;
}
.hidden-link:hover{
  color: inherit;
  text-decoration: none;
}

.footer .main-content .left .heading{
  position: absolute;
    width: 839px;
    height: 85px;
    left: 0px;
    top: 328px;
  
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  
    color: #FFFFFF;
}
.footer .main-content .left .subheading{
  position: absolute;
    width: 414px;
    height: 115px;
    left: 213px;
    top: 398px;
  
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  
    color: #FFFFFF;
}
.footer .main-content .left .sponsor-btn-wrapper{
  position: absolute;
    width: 489px;
    height: 56px;
    left: 190px;
    top: 635px;
    border: solid 2px #67AC72;
    border-radius: 73px;
}
.footer .main-content .left .sponsor-btn-bg{
  
  
    background: #FFFFFF;
    border-radius: 73px;
    width: 100%;
    height: 100%;
    
      

  }
.footer .main-content .left .sponsor-btn-wrapper .text {
  position: absolute;
  top: 25%;
    left: 22%;z-index: 15;
  color: var(--main-text-color-inverted);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.15s;
}
.footer .main-content .left .sponsor-btn-chip{
  background: #67AC72;
    border-radius: 73px;
width: 125px;
  height: 52px;
  z-index: 10;
  right: 0px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    

}
.footer .main-content .left .sponsor-btn-wrapper:hover .sponsor-btn-chip {
  width: 487px;
}
.footer .main-content .left .sponsor-btn-wrapper:hover .text {
color: var(--main-text-color);
}
.footer .main-content .left .sponsor-btn-wrapper:hover .arrow {
  color: var(--main-text-color);
}

.footer .main-content .left .arrow{
    position: absolute;
      right: 45px;
      top: 9px;
      font-size: 35px;
      transition: all 0.3s ease-in-out;
        transition-delay: 0.15s;
      color: var(--main-text-color);
}
.footer .main-content .right{
  position: absolute;
  text-align: center;
  width: 50%;
  right: 0px;
  top: 328px;
  color: var(--main-text-color);
  font-family: var(--main-font);
    font-style: normal;
  align-items: center;
  
}
.footer .main-content .right .heading{
  
    width: 839px;
    height: 85px;
    
  
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    
    text-align: center;
  
    color: var(--main-text-color);
}
.footer .main-footer .social-btns{
  font-size: 22px;
    top: 1%f;
    position: absolute;
    right: 26%;
    display: flex;
    gap: 24%;
    color: var(--main-text-color);
}



.estregg {
  
  animation: animatedgradient 1s ease alternate infinite;
  
}


@keyframes animatedgradient {
  0% {
    transform: scale(1.3);
  }
  50% {
    transform : scale(1.5);
  }
    100% {
      transform: scale(1);
    }
}
