@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
.carousel{
    width:100%;
    height:1082px;
    background-color: #000000;
}

.robots{
    
    
    width: 100%;
    height: 1080px;
    
    gap: 0%;
}

.carousel .robot-slide{
    width: 100vw;
    height: 100vh;
    transition: all 0.5s;
    position: absolute;
    top: 4%;
    /*overflow: hidden;*/
    
}
.carousel .robot-slide .title{
    position: relative;
        width: 721px;
        height: 89px;
    left: 306px;
        top: 563px;
    z-index: 20;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        
            
        
    
        color: #FFFFFF;
}
.carousel .robot-slide .version {
    position: relative;
        width: 182px;
        height: 32px;
        left: 307px;
        top: 571px;
    z-index: 20;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
    
        color: #FFFFFF;
}
.carousel .robot-slide .image{
  width: 100%;
  height: 100%;
    
}
.carousel .robot-slide .image-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    top: -215px;
}
.carousel .robot-slide .description {
    position: relative;
        width: 560px;
        height: 94px;
        left: 307px;
        top: 535px;
        z-index: 20;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 29px;
    
        color: #FFFFFF;
}

.carousel .arrows{
    position: absolute;
    width: 1862.06px;
    height: 50px;
    left: 32px;
    top: 516px;
    z-index: 1990;
}
.arrows .arrow-2{
    position: absolute;
    position: absolute;
    
    left: 1838px;
}
.arrows .arrow-1{
    position: absolute;
    left: -11.3px;
    top: 0px;
}